body {
  background-image: url('MEinplants.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*#name{
  margin-left: 50px;
  margin-top: 40px;
  font-family: Georgia, serif;
  font-weight: 400;
  color:#FEF9CC;
  margin-bottom: 1px;
}
#painter{
  margin-left: 50px;
  font-family: Georgia, serif;
  color:#FEF9CC;
  font-style: italic;
  font-weight: lighter;
  margin-top: 0px;
}*/
#navbar{
  float:right
}
#navbar ul{
  list-style-type: none;
  display: inline;
  margin: 10;
  padding: 0;
  overflow: none;
  }

  #navbar li{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, serif;
    font-weight: lighter;
  }

  #navbar li a:hover {
    color: white;
  }
