body {
  background-image: url('MEinplants.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
#br{
  clear:right;
}
#brl{
  clear:left;
}
/* the navbar styling */
#navbar{
  float:right
}
#navbar ul{
  list-style-type: none;
  display: inline;
  margin: 10;
  padding: 0;
  overflow: none;
  }

  #navbar li{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-family: Georgia, serif;
    font-weight: lighter;
  }
  #navbar li a:link {
    color: #ffffe6;
    text-decoration: none;
    font-family: Georgia, serif;
    font-weight: lighter;
  }
  #navbar li a:visited {
    color: #ffffe6;
    text-decoration: none;
    font-family: Georgia, serif;
    font-weight: lighter;
  }

  #navbar li a:hover {
    color:#ffb3b3;
    text-decoration: none;
    font-family: Georgia, serif;
    font-weight: lighter;
  }

  /*styling of the image gallery*/

  #header {
    padding-top:0em;
    text-align:center;
    color:#ffffe6;
    font-family: Georgia, serif;
  }

  #video video{
    background-color:black;
    opacity: .95;
    margin-left: 5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 75%;
    height: 75%;
  }

  /* footer */
    #footer {
      position: relative;
      top:2em;
      left:1em;
      bottom:2em;
      width:100%;
      color: #ffffe6;
      text-align: left;
      text-decoration: none;
      font-family: Georgia, serif;
    }
